/ admin panel interface

%div#admin
  %div.title
    #post-library
    %div.post-input
      %div#edit-post
      %h2
        New Post
      %div#new-post
        %input#title{"placeholder" => "What's on your mind?", "type" => "text", :name => "title"}/
        %br/
        %textarea#text{"placeholder" => "Post body here"}
        %br/
        %input#save-post{:type => "button", :value => "Save"}


/ Templates

%script#post-template{"type" => "text/template"}
  <p class="post"><span class="post-title"><%= title %></span> <span class="edit">edit</span> <span class="<%= published ? 'unpublish' : 'publish' %>"><%= published ? 'unpublish' : 'publish' %> </span><span class='delete'>DELETE</span></p>
%script#library-template{"type" => "text/template"}
  %h1
    Posts
  %ul.posts
%script#edit-template{'type' => 'text/template'}
  #edit
    %h2
      Editing a Post
    %h3
      Originally titled <%= title %>
    <input id="title" value="<%= title %>" />
    %br/
    <textarea id='text'><%= text %></textarea>
    %br/
    %input#save-edit{:type => 'button', :value => 'Save Edit'}
