/ admin panel interface

%div#admin
  %div.title
    %h1
      Blog Posts
      %div.content
        %div#new-post
          %input#title{"placeholder" => "What's on your mind?", "type" => "text", :name => "title"}/
          %input#text{"placeholder" => "Text goes here", "type" => "text", :name => "text"}/
          %input{:type => "button", :value => "Save", :id => "save-post"}


/ Templates

%script#post-template{"type" => "text/template"}
  <div class="post <%= published ? 'published' : '' %>">
  %div.post-text 