/ admin panel interface

%div#admin
  %div.title
    %h1
      Posts
    #old-posts
    %div.content
      %h2
        New Post
      %div#new-post
        %input#title{"placeholder" => "What's on your mind?", "type" => "text", :name => "title"}/
        %br/
        %input#text{"type" => "text", :name => "text"}/
        %br/
        %input#save-post{:type => "button", :value => "Save"}


/ Templates

%script#post-template{"type" => "text/template"}
  <p class="post"><%= title %> <span id="edit">edit</span> <span id="<%= published ? 'publish' : 'unpublish' %>"><%= published ? 'publish' : 'unpublish' %></span></p>
%script#library-template{"type" => "text/template"}
  <ol class="posts">
  <% _.each(posts, function(post) { %>
  <li><%= post.title %></li>
  <% }); %>
  </ol>