!!! 5
%head
  %meta{'charset' => 'utf-8'}/
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}/
  %link{'rel' => 'stylesheet', 'type' => 'text/css', 'href' => 'css/admin.css'}
  %link{'rel' => 'stylesheet', 'type' => 'text/css', 'href' => 'css/style.css'}

  %title=title

%body
  %div#container
    %header
    %div#main{'role' => 'main'}
      = yield
    %footer
  /! end of container

  %script{'src' => 'js/libs/jquery-1.8.2.js'}
  %script
    window.jQuery || document.write('<script src="js/libs/jquery-1.8.1.min.js"><\/script>')

  %script{'src' => 'js/libs/underscore.js'}
  %script{'src' => 'js/libs/backbone.js'}
  %script{'src' => 'js/script.js'}
  :javascript
    $(function(){
    if (window.location.pathname === "/admin")
    { 
    window.library.fetch(); 
    }
    });
