$dark-grey: #333333
$light-grey: #666666
$margin: 16px
$h1: 36px
$h2: 24px

body
  background: #e8e7e7
  margin: $margin

#admin
  font-family: helvetica
  color: $light-grey

  h1
    font-size: $h1
    color: $dark-grey

  h2
    font-size: $h2
    color: $dark-grey