$dark-grey: #333333
$light-grey: #666666
$margin: 16px
$input-margin: 32px
$h1: 36px
$h2: 24px

body
  background: #e8e7e7
  margin: $margin

#admin
  font-family: helvetica
  color: $light-grey

  h1
    font-size: $h1
    color: $dark-grey

  h2
    font-size: $h2
    color: $dark-grey

  #text
    width: 400px
    height: 500px
    margin-left: $margin
    margin-bottom: $margin
  #title
    width: 400px
    margin-left: $margin
    margin-bottom: $margin
  #save-post
    margin-left: $margin
  #unpublish
    color: red