body {
  background: #e8e7e7;
  margin: 16px; }
  body input #text {
    width: 200px;
    height: 500px; }
  body input #title {
    width: 200px; }

#admin {
  font-family: helvetica;
  color: #666666; }
  #admin h1 {
    font-size: 36px;
    color: #333333; }
  #admin h2 {
    font-size: 24px;
    color: #333333; }
