body {
  background: #e8e7e7;
  margin: 16px; }

#admin {
  font-family: helvetica;
  color: #666666; }
  #admin h1 {
    font-size: 36px;
    color: #333333; }
  #admin h2 {
    font-size: 24px;
    color: #333333; }
  #admin #text {
    width: 400px;
    height: 500px;
    margin-left: 16px;
    margin-bottom: 16px; }
  #admin #title {
    width: 400px;
    margin-left: 16px;
    margin-bottom: 16px; }
  #admin #save-post {
    margin-left: 16px; }
